.square {
    stroke: #e1e1e1;
    stroke-width: 2px; 
}

body     { background-color: white;
	     }


form input[type=range], label{
    display: inline!important;
}

label {

}
<<<<<<< HEAD

.active {
    stroke: black;
}
=======
>>>>>>> 7ce4913822739b8e592c672dbd7244926c320e60
