.square {
    stroke: #e1e1e1;
    stroke-width: 2px; 
}

body     { background-color: white;
	     }


form input[type=range], label{
    display: inline!important;
}

label {

}

.one-day-grid,
.one-week-grid,
.one-month-grid,
.dix-month-grid, svg {
    text-align: center;
    display: block;
}
.hidden {
    display: none;!important
}

h1 > a {
    width: 100%;
    text-justify: center;
    text-decoration: none;
}

form input[type=range].active {
    background-color: red;
}
